In [13]:
import pymysql

try:
    conn = pymysql.connect(
        host = 'localhost', user = 'root', password = '1124', db ='python',
        charset = 'utf8')


    cursor = conn.cursor()
    
    sql = '''INSERT INTO mysql (ID, TITLE, CONTENT)
              VALUES(NULL, %s, %s)'''
    cursor.execute(sql, ('제목A', '내용Z'))

    conn.commit()

    cursor.close()
    conn.close()
except pymysql.InternalError as e:
    print(e)

In [18]:
import pymysql

try:
    conn = pymysql.connect(
        host = 'localhost', user = 'root', password = '1124', db ='python',
        charset = 'utf8')


    cursor = conn.cursor()
    
    sql = '''UPDATE mysqlWHERE id = %s'''
    cursor.execute(sql, (2))

    conn.commit()

    cursor.close()
    conn.close()
except pymysql.InternalError as e:
    print(e)

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '= 2' at line 1")

In [20]:
import pymysql

try:
    conn = pymysql.connect(
        host = 'localhost', user = 'root', password = '1124', db ='python',
        charset = 'utf8')


    cursor = conn.cursor()
    
    sql = ''' DELETE FROM mysql WHERE id = %s'''
    cursor.execute(sql, (2))

    conn.commit()

    cursor.close()
    conn.close()
except pymysql.InternalError as e:
    print(e)

In [22]:
import pymysql

try:
    conn = pymysql.connect(
        host = 'localhost', user = 'root', password = '1124', db ='python',
        charset = 'utf8')


    cursor = conn.cursor()
    
    sql = ''' SELECT * FROM mysql'''
    cursor.execute(sql)
    result = cursor.fetchall()
    print(result)
    print(result[0])
    print(result[0][1])

    conn.commit()

    cursor.close()
    conn.close()
except pymysql.InternalError as e:
    print(e)

((1, '제목수정', '내용Z'),)
(1, '제목수정', '내용Z')
제목수정

In [23]:
import pymysql

conn = pymysql.connect(
        host = 'localhost', user = 'root', password = '1124', db ='pythondb',
        charset = 'utf8')
cursor = conn.cursor()

sql = '''CREATE TABLE member (
            NUM INTEGER PRIMARY KEY AUTO_INCREMENT,
            NAME VARCHAR(30), EMAIL VARCHAR(30), C_DATE DATETIME)'''
cursor.execute(sql)

conn.commit()

cursor.close()
conn.close()

In [23]:
import pymysql

conn = pymysql.connect(
        host = 'localhost', user = 'root', password = '1124', db ='pythondb',
        charset = 'utf8')
cursor = conn.cursor()

sql = '''CREATE TABLE article (
            ID INTEGER PRIMARY KEY AUTO_INCREMENT,
           TITLE VARCHAR(30), CONTENT VARCHAR(30),WRITER VARCHAR(30),HIT INT C_DATE DATETIME)'''
cursor.execute(sql)

conn.commit()

cursor.close()
conn.close()

In [11]:
import pymysql

conn = pymysql.connect(
        host = 'localhost', user = 'root', password = '1124', db ='pythondb',
        charset = 'utf8')

cursor = conn.cursor()

sql = ''' INSERT INTO member (NUM, NAME, EMAIL ,C_DATE) VALUES (null, %s, %s, now())'''
cursor.execute(sql,('a','a@a.com'))

conn.commit()

cursor.close()
conn.close()

In [36]:
import pymysql

conn = pymysql.connect(
        host = 'localhost', user = 'root', password = '1124', db ='pythondb',
        charset = 'utf8')

cursor = conn.cursor(pymysql.cursors.DictCursor)

sql = ''' SELECT * FROM SHOP
            WHERE REST_DATE = '연중무휴'
                   AND PARKING_INFO = '주차가능'  '''
cursor.execute(sql)


conn.commit()

cursor.close()
conn.close()

In [36]:
import pymysql

conn = pymysql.connect(
        host = 'localhost', user = 'root', password = '1124', db ='pythondb',
        charset = 'utf8')

cursor = conn.cursor(pymysql.cursors.DictCursor)

sql = ''' SELECT * FROM INFO'''
cursor.execute(sql)

result = cursor.fetchall()

import re
pat = re.compile('(\d{6}-)\d{7}')

for row in result:
    
conn.commit()

cursor.close()
conn.close()

In [15]:
import pymysql

page_num = input('원하는 페이지 번호를 입력해주세요')
page_num = int(page_num)
end_num = page_num * 10
start_num = end_num - 9

conn = pymysql.connect(
        host = 'localhost', user = 'root', password = '1124', db ='mydb',
        charset = 'utf8')

cursor = conn.cursor()

sql = ''' SELECT * FROM EMP LIMIT %s, 10'''
cursor.execute(sql, (start_num))

result = cursor.fetchall()

print(len(result))

for row in result:
    print(row['EMPNO'],row['ENAME'])
    
    
conn.commit()

cursor.close()
conn.close()

원하는 페이지 번호를 입력해주세요1
10
7499 ALLEN
7521 WARD
7566 JONES
7654 MARTIN
7698 BLAKE
7782 CLARK
7788 SCOTT
7839 KING
7844 TURNER
7876 ADAMS

In [28]:
import pymysql

page_num = input('원하는 페이지 번호를 입력해주세요')
page_num = int(page_num)
end_num = page_num * 5
start_num = end_num - 4

def insert(sql, data):
    cursor.execute(sql, data)
conn = pymysql.connect(
 host='localhost', user='root', password='1124',
 db='pythondb', charset='utf8')
cursor = conn.cursor()
# 데이터 100개 입력
sql = '''INSERT INTO MEMBER
 (NUM, NAME, EMAIL, C_DATE)
 VALUES (NULL, %s, %s, NOW())'''


sql = '''SELECT  * FROM MEMBER 
          ORDER BY DESC LIMIT 0,5'''

cursor.execute(sql)


result = cursor.fetchall()


for row in result:
    print(row['NUM'],row['NAME'],row['EMAIL'])



conn.close()

원하는 페이지 번호를 입력해주세요101

TypeError: not enough arguments for format string